body {
  background: lightgrey;
  position:relative; 
}

.game {
  margin: 0 auto;
  display:block;
  margin: 5px;
  padding:20px;
  background: #efefef;
  width: 160px;
  height: 160px;
  position: absolute;
}

.glyphicon {
  top: auto;
  bottom: 10px;
  right: 10px;
}

.glyphicon-repeat {
  position:absolute;
}

.glyphicon-plus {
  position: fixed;
}

.table-success {
  background-color: lightgreen;
}

.table-tied {
  background-color: orange;
}

.table-success td, .table-success tr {
  border-color: lightgreen;
  color: lightgreen;
}

.table-tictactoe {
  background-color: white;
}

.table-tictactoe td {
  width:50px;
  height:50px;
}

.tictactoe-grid-bottom {
  border-bottom:1px solid black;
}

.tictactoe-grid-right {
  border-right:1px solid black;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  list-style: none;
  border:1px solid lightgrey;
}

.space {
  border:0;
  background:transparent;
  width:100%;
  height:100%;
}